<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		{% for post in site.posts %}
		<div class="overflow-auto border-top border-bottom border-secondary rounded-top rounded-bottom p-3 p-3 mt-3 mb-3">
				<div >
				<h5 class="card-title">{{ post.title }} - {{ post.date | date_to_string }}</h5>
				<p class="card-text">{{ post.excerpt }}</p>
				<a href="{{ post.url }}" class="btn btn-secondary">Read</a>
				</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-1"></div>
</div>
