<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">
		<a class="navbar-brand mr-auto mr-lg-0" href="/">
			Dev Jots&nbsp;
			<svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
				<path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
			</svg>
		</a>
	</span>
	<div class="navbar-collapse offcanvas-collapse">
		<ul class="navbar-nav ml-auto">
			{% for item in site.data.navigation %}
			
			<li class="nav-item {% if page.url == item.link %}active{% endif %}" 
					{% if forloop.last == false %}style="border-right-style: solid; border-right-color: rgba(255,255,255,.2);border-right-width: 2px;"{% endif %}>
				<a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>